:root {
  --tabbarCollapsedWidth: 42px;
  --tabbarExpandedWidth: 200px;
  --tabbarHoverDuration: .02s;
  --tabbarHoverStartDelay: .50s;
  --tabbarHoverEndDelay: .00s;
}

#browser:not(.fullscreen).tabs-left #main > .inner {
  padding-left: var(--tabbarCollapsedWidth);
  box-sizing: border-box;
}

#browser:not(.fullscreen).tabs-right #main > .inner {
  padding-right: var(--tabbarCollapsedWidth);
  box-sizing: border-box;
}

#browser:is(.tabs-left, .tabs-right) .tabbar-wrapper {
  position: absolute !important;
  top: 0;
  height: 100% !important;
  width: var(--tabbarCollapsedWidth) !important;
  z-index: 10;
  transition: width var(--tabbarHoverDuration) ease-out var(--tabbarHoverEndDelay) !important;
}

#browser.tabs-left .tabbar-wrapper {
  left: 0;
}

#browser.tabs-right .tabbar-wrapper {
  right: 0;
}

#browser.tabs-left #tabs-tabbar-container.left,
#browser.tabs-right #tabs-tabbar-container.right {
  width: 100% !important;
  background-color: var(--colorAccentBg);
}

#browser .tab.active {
  background-color: var(--colorHighlightBg);
}

.unified-ui .mainbar {
  background-color: var(--colorAccentBg);
}

:root,
body,
#browser {
  --browserBlurredImage: linear-gradient(
    0deg,
    var(--colorAccentBg),
    var(--colorAccentBg)
  ) !important;
}

#browser:is(.tabs-left, .tabs-right) .tabbar-wrapper:is(:hover, :focus-within),
#browser:has(.WorkspacePopup) .tabbar-wrapper,
#browser:has(#vivaldi-tooltip .tab-group) .tabbar-wrapper {
  width: var(--tabbarExpandedWidth) !important;
  transition: width var(--tabbarHoverDuration) ease-in var(--tabbarHoverStartDelay) !important;
}

#browser:is(.tabs-left, .tabs-right)
  .tabbar-wrapper:not(:is(:hover, :focus-within))
  button[name="WorkspaceButton"]
  :is(.button-title, .button-toolbar-menu-indicator) {
  display: none !important;
}

#browser:is(.tabs-left, .tabs-right)
  .tabbar-wrapper:is(:hover, :focus-within)
  button[name="WorkspaceButton"]
  :is(.button-title, .button-toolbar-menu-indicator) {
  display: inherit !important;
}

#browser.maximized:is(.tabs-left, .tabs-right) .tab-strip {
  margin: 0 6px !important;
  max-width: calc(100% - 6px) !important;
}

#browser.maximized:is(.tabs-left, .tabs-right) .tab-strip .tab-position {
  padding: 0 !important;
}
